<!DOCTYPE HTML>
<html data-theme="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
</head>

<body>
    <th:block th:replace="~{layouts/nav :: div}" th:remove="tag">Standard header and Navigation</th:block>

    <main>
        <th:block layout:fragment="body" th:remove="tag">Body details are added by ThymeLeaf layout consumer</th:block>
    </main>

    <th:block th:replace="~{layouts/footer :: footer}" th:remove="tag">Standard footer</th:block>
</body>

<th:block layout:fragment="script" th:remove="tag"></th:block>

</html>